<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CinemaTix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>256A74712B27F57E00B8EF50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>256A74872B27F58000B8EF50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>256A74912B27F58000B8EF50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
