<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
    
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    
    <key>NSFaceIDUsageDescription</key>
    <string>We use Face ID for secure authentication</string>
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We use your location for cinema location</string>
    
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>id</string>
    </array>
    
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to take QR Code and Face Recognition</string>
    
</dict>
</plist>
